*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.list {
  margin-top: -78rem;
}

.type1{
  width: 100%;
  display: block;
  margin: 0px auto;
}

/*.type2{
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
*/

